-- DropForeignKey
ALTER TABLE "public"."Lead" DROP CONSTRAINT "Lead_ownerId_fkey";

-- DropForeignKey
ALTER TABLE "public"."Lead" DROP CONSTRAINT "Lead_teamId_fkey";

-- DropForeignKey
ALTER TABLE "public"."Activity" DROP CONSTRAINT "Activity_leadId_fkey";

-- DropForeignKey
ALTER TABLE "public"."Activity" DROP CONSTRAINT "Activity_userId_fkey";

-- DropForeignKey
ALTER TABLE "public"."LeadHistory" DROP CONSTRAINT "LeadHistory_leadId_fkey";

-- DropForeignKey
ALTER TABLE "public"."LeadHistory" DROP CONSTRAINT "LeadHistory_changedBy_fkey";

-- DropForeignKey
ALTER TABLE "public"."_TeamUsers" DROP CONSTRAINT "_TeamUsers_A_fkey";

-- DropForeignKey
ALTER TABLE "public"."_TeamUsers" DROP CONSTRAINT "_TeamUsers_B_fkey";

-- DropTable`
DROP TABLE "public"."User";

-- DropTable
DROP TABLE "public"."Team";

-- DropTable
DROP TABLE "public"."Lead";

-- DropTable
DROP TABLE "public"."Activity";

-- DropTable
DROP TABLE "public"."LeadHistory";

-- DropTable
DROP TABLE "public"."_TeamUsers";

-- DropEnum
DROP TYPE "public"."Role";

